# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pyc
docker/code.zip
.vscode/launch.json
backend/sdr_plot_backend.egg-info*
backend/src/sdr_plot_backend.egg-info/
backend/dist/
backend/tests/iq_data.pkl
backend/tests/fft_data.pkl
backend/tests/scan_data.pkl
scan_data.pkl
backend/.venv/
backend/.venv
