.control-panel {
    width: 30%;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
  }
  
  .plots {
    width: 70%;
    height: 100vh;
    padding: 10px;
    background-color: #000;
  }
  
  .tab-content {
    margin-top: 10px;
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .tab-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  