/* App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.plots_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.plots {
  flex: 2;  /* Increase the flex value for larger plots */
  overflow: hidden;
}

.tab-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tab-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (min-width: 600px) {
  .plots_container {
    flex-direction: row;
  }
  .plots {
    flex: 3;  /* Increase the flex value for larger plots */
  }
  .control-panel {
    flex: 0.5;  /* Decrease the flex value for a smaller control panel */
  }
}

.control-panel {
  height: 100%;
  width: 15vw;  /* Adjusted width for smaller control panel */
  padding: 10px;
  background-color: #1a1a1a;
}
