body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.plots {
  flex: 1; /* Slightly more space for the plots */
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;

}

.control-panel {
  flex: 0.3; /* Reduce the width of the control panel */
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #1c1c1c;
  color: white;
}

.tab-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tab-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.plots_container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* New styles for control panel content to stretch */
.control-panel-content {
  flex: 1; /* Make it take the remaining space */
  overflow-y: auto; /* Allow scrolling inside the control panel */
}

.resize-handle {
  width: 10px;
  cursor: ew-resize;
  background-color: #444;
}
